[settings]
; use idividual color for size number
size_number_color = 1
; use idividual color for date number
date_number_color = 1

show_hidden = 0
list = 0
resolve_links = 0
reversed = 0
dirs_first = 1
colors = 1

; default sort method 0 = Alpha, 1 = Modified, 2 = Size
sort = 0

[colors]
; Use -1 for reset to default color and XXXXX_bg to set background color
prefix_exec_fg = 10
prefix_dir_fg = -1
prefix_link_fg = -1

perm_none_fg = 0
perm_exec_fg = 2
perm_read_fg = 3
perm_write_fg = 1

perm_dir_fg = 4
perm_link_fg = 6
perm_sticky_fg = 5
perm_special_fg = 5
perm_block_fg = 5
perm_unknown_fg = 1
perm_other_fg = 7

user_fg = 11
group_fg = 3
user_separator_fg = 0

; used with size_number_color = 1
size_number_fg = 12

size_byte_fg = 4
size_kilo_fg = 4
size_mega_fg = 4
size_giga_fg = 4
size_tera_fg = 4
size_peta_fg = 4

; used with date_number_color = 1
date_number_fg = 10

date_sec_fg = 2
date_min_fg = 2
date_hour_fg = 2
date_day_fg = 2
date_mon_fg = 2
date_year_fg = 2

git_ignore_fg = 0
git_conflict_fg = 1
git_modified_fg = 3
git_renamed_fg = 5
git_added_fg = 2
git_typechange_fg = 4
git_unreadable_fg = 9
git_untracked_fg = 8
; git_unchanged = 2

git_dir_dirty_fg = 1
; git_dir_clean = 2

git_repo_dirty_fg = 1
git_repo_clean_fg = 2

[symbols]
prefix_exec = "*"
prefix_dir = "/"
prefix_link = "@"

user_separator = ":"

size_byte = "B"
size_kilo = "K"
size_mega = "M"
size_giga = "G"
size_tera = "T"
size_peta = "P"

date_sec = "sec"
date_min = "min"
date_hour = "hour"
date_day = "day"
date_mon = "mon"
date_year = "year"

git_ignore = "!"
git_conflict = "X"
git_modified = "~"
git_renamed = "R"
git_added = "+"
git_typechange = "T"
git_unreadable = "-"
git_untracked = "?"
; git_unchanged = "="

git_dir_dirty = "!"
; git_dir_clean = "="

git_repo_dirty = "!"
git_repo_clean = "@"
